<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <input type="radio" v-model="radioValue" value="男"> 男
        <input type="radio" v-model="radioValue" value="女"> 女 {{radioValue}} -->

        <!-- <input type="checkbox" value="打豆豆" v-model="checkValue">打豆豆
        <input type="checkbox" value="好好睡觉" v-model="checkValue">好好睡觉
        <input type="checkbox" value="好好吃饭" v-model="checkValue">好好吃饭
        <input type="checkbox" value="好好学习" v-model="checkValue">好好学习 {{checkValue}} -->

        <select>
            <option></option>
        </select>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                radioValue: "男",
                checkValue: [],
            },

        });
    </script>
</body>

</html>